/* General Body Styles */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Header */
.navbar {
    background-color: #007bff;
}

.hero-image {
    max-width: 200px; 
    border-radius: 50%;  
}

/* Hero Section */
.hero-section {
    background-color: #007bff;
    color: white;
    padding: 40px 0px;
}

.hero-section h1 {
    font-weight: bold;
    margin-top: 20px; 
}

.hero-section p {
    font-size: 1.2em;
}

/* About Section */
.about-preview {
    padding: 50px 0;
}

/* Skills Overview */
.skills-overview .container {
    padding: 50px 0;
}

.skills-overview h3 {
    text-align: center;
    margin-bottom: 30px;
}

.skills-overview h4 {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 15px;
}

/* Projects Preview */
.projects-preview {
    padding: 50px 0;
    background-color: #ffffff;
    margin-bottom: 50px;
}

.projects-preview h2 {
    text-align: center;
    margin-bottom: 30px;
}

.project-item {
    margin-bottom: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    transition: all .3s ease-in-out;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,.16);
}

.project-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.project-card h3 {
    margin-top: 0;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}


/* Contact Section */
.contact-section {
    padding: 50px 0;
}

/* Footer */
footer {
    background-color: #333;
    color: #ffffff;
    padding: 20px 0;
    margin-top: 50px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-section {
        padding: 50px 0;
    }

    .skills-overview .container, .projects-preview .container, .contact-section .container {
        padding: 30px 15px;
    }
}
.hero-image {
    max-width: 200px; /* Adjust based on your preference */
    border-radius: 50%; /* Creates a circular shape */
    margin-bottom: 20px; /* Adds some space below the image */
    margin-right: 500px;
}
